<a href='/movies'>Go back</a>

<div>
  <img src="{{theMovie.image}}" />
</div>
<div>
  <h2>{{theMovie.title}}</h2>
  <h4>{{theMovie.director}}</h4>
  <h6>Stars</h6>
  <ul> 
    <li>{{theMovie.stars}}</li>
  </ul>

  <p>{{theMovie.description}}</p>

  <p>{{theMovie.showtimes}} | </p>
</div>